<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/13.1/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         requireCoverageMetadata="true"
         failOnNotice="true"
         failOnDeprecation="true"
         failOnWarning="true">

    <testsuites>
        <testsuite name="unit test">
            <directory>test/unit</directory>
        </testsuite>
        <testsuite name="integration test">
            <directory>test/integration</directory>
        </testsuite>
    </testsuites>
    <source restrictNotices="true" ignoreIndirectDeprecations="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
    <extensions>
        <bootstrap class="WebwareTestIntegration\UserManager\Extension\ListenerExtension"/>
    </extensions>
    <php>
        <env name="TESTS_ADAPTER_MYSQL" value="true"/>
        <env name="TESTS_ADAPTER_MYSQL_HOSTNAME" value="mysql"/>
        <env name="TESTS_ADAPTER_MYSQL_PORT" value="3306"/>
        <env name="TESTS_ADAPTER_MYSQL_DATABASE" value="webware"/>
        <env name="TESTS_ADAPTER_MYSQL_USERNAME" value="webware"/>
        <env name="TESTS_ADAPTER_MYSQL_PASSWORD" value="webware"/>
    </php>
</phpunit>
